
.mainContainer {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#textContainer {
    padding: 110px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}


#textContainer h2 {
    margin-top: 50px;
    font-size: 30px;
}

#img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#MiddleContainer {
    display: flex;

}


#section1 {
    width: 50%;
    padding: 100px 40px;
    font-size: 25px;
}

#post{
    padding: 100px 0 50px 20px;
}

#post h2, .new h2{
    color: #232536;
    font-size: 42px;
    line-height: 1.5;
}

#post h5, .new h5{
    font-weight: normal;
    color: #474747;
    margin: 20px 0 20px 0;
}

#post p, .new p{
    margin-top: 20px;
    color: grey;
    font-size: 28px;
}

#img2{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#link{
    color: grey;
}

#post button{
    margin-top: 100px;
    background-color: #ff5959;
    color: white;
    padding: 30px;
    width: 40%;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    transition: background-color 0.5s;
}

#section2 {
    width: 50%;
    padding: 100px 0 100px 150px;
    font-size: 25px;
}
.new{
    margin-top: 5px;
    padding: 30px;
}
#new1{
    margin-top: 50px;
    padding: 30px;
    background-color: #ff5959;
    width: 90%;
    transition: background-color 0.5s;
}
#new1 h2{
    color: white;
}

#new1 h3{
    margin: 10px 0 10px 0;
}

#new1 h5{
    font-weight: normal;
    color: #474747;
    margin: 10px 0 10px 0;
}

.new h2{
    color: #232536;
    font-size: 42px;
    line-height: 1.5;
}
.new h5{
    font-weight: normal;
    color: #474747;
}
.new p{
    color: grey;
    font-size: 28px;
}

#all{
    font-weight: normal;
    font-size: 30px;
    margin: 0 0 0 620px;
}
#newContainer{
    display: flex;
    flex-direction: column;
    border-top: 1px grey solid;
    width: 90%;
    margin:0 5vw 0 5vw;
}
#newContainer h1{
    margin-top: 150px;
}
#newContainer img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.card{
    background-color: #f4f0f8;
    text-align: center;
    width: 100%;
    padding: 20px 60px 10px 60px;
    border-radius: 10px;
}
#section3{
    display: flex;
    gap: 50px
}
.card h3{
    font-weight: normal;
}
.card h2{
    margin: 20px 0 20px 0;
}
#feedback{
    background-color: #232536;
    color: white;
    display: flex;
    width: 100%;
    margin: 200px 0 200px 0;
}
#feedback h1{
    font-size: 50px;
    margin: 30px 0 30px 0;
}
#feedback h2{
    font-size: 30px;
    font-weight: normal;
}
#section4{
    padding: 50px;
    border-right: 1px solid grey;
    margin: 50px 50px 50px 100px;
}

#section5{
    padding: 50px;
}
#comment{
    display: flex;
}
#avatar{
    margin-top: 20px;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#section5 h4{
    margin-left: 175px;
    font-size: 25px;
    color: grey;
}
#section5 h1{
    font-size: 40px;
}
#comment h5{
    margin-top: 20px;
    font-size: 50px;
}
#buttons{
    display: flex;
    margin-top: 500px;
    align-items: center;
    gap: 25px;
}
#button1{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    background-color: white;
}
#button2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    background-color: #ff5959;
}
#lastContainer{
    margin: 0 100px 400px 100px;
}
#lastContainer h1{
    color: #232536;
    margin-bottom: 20px;
}
#section6{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.cardNew{
    padding: 20px;
    border-radius: 45px;
}
.cardNew img{
    width: 300px;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 20px;
}
.cardNew{
    background-color: #f4f0f8;
}
#log{
    display: flex;
}
#readMore:hover{
    cursor: pointer;
    background-color: #770000;
}